[Unit]
Description=Pro ngrok  screen
After=network.target

[Service]
Type=forking
User=hupli
Group=hupli
ExecStart=/usr/bin/screen -d -m -S sngrok /usr/local/bin/ngrok tcp 22
ExecStop=/usr/bin/screen -S h1 -p 0 -X stuff "^C"

[Install]
WantedBy=multi-user.target
