[Unit]
Description=Pro h1 screen
After=network.target

[Service]
Type=forking
User=hupli
Group=hupli
ExecStart=/usr/bin/screen -d -m -S h1 /bin/bash
ExecStop=/usr/bin/screen -S h1 -p 0 -X quit
WorkingDirectory=/home/minecraft/server

[Install]
WantedBy=multi-user.target
