[Unit]
Description=WebSSH terminal interface
After=network.target

[Service]
User=root
Group=root
ExecStart=wssh --fbidhttp=False --port=8080 --address="zssh.baconblx.eu.org"

[Install]
WantedBy=multi-user.target
