[Unit]
Description=WebSSH terminal interface
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=wssh --fbidhttp=False --port=80 --address="ssh.baconblx.eu.org"

[Install]
WantedBy=multi-user.target
