[Unit]
Description=WebSSH terminal interface
After=network.target

[Service]
User=root
Group=root
ExecStart=wssh --fbidhttp=False --port=80

[Install]
WantedBy=multi-user.target
